<%- include('partials/header') %>

<div class="container">
  <h1>Login</h1>
  <p>Please insert your username and password.</p>
  <%- include('partials/form', { callback: '/login', button: 'login' }) %>
</div>

<%- include('partials/footer') %>