<%- include('partials/header') %>

<h1>Register</h1>
<p>Please provide a username and password.</p>
<% if (typeof error !== 'undefined' && error) { %>
  <%- include('partials/error', {message: error_message}) %>
<% } %>
<%- include('partials/form', { callback: '/register', button: 'Register' }) %>

<%- include('partials/footer') %>